[submodule "plugins/ido-ubiquitous"]
	path = plugins/ido-ubiquitous
	url = git://github.com/technomancy/ido-ubiquitous.git
[submodule "plugins/yasnippet"]
	path = plugins/yasnippet
	url = git://github.com/capitaomorte/yasnippet.git
[submodule "plugins/js2-mode"]
	path = plugins/js2-mode
	url = git://github.com/mooz/js2-mode.git
[submodule "plugins/auctex"]
	path = plugins/auctex
	url = git://github.com/emacsmirror/auctex.git
[submodule "plugins/ess"]
	path = plugins/ess
	url = git://github.com/emacs-ess/ESS.git
